{% extends "base.html" %}
{% block title %}Practice {{theme.name}}{% endblock %}

{% block content %}
    {% if not check_answer %}
        <form method="POST">
            <label for="userAnswer"><h1 style="font-size:30px">{{question.question}}</h1></label>
            <input class="form-control form-control-lg" type="text" name="userAnswer" id="userAnswer" placeholder="Enter answer"
                   autocomplete="off">
            </br>
            <button type="submit" class="btn btn-primary" name="checkAnswer" value="{{question.id}}">Check answer</button>
        </form>
    {% else %}
        <label for="correctAnswer"><h1 style="font-size:30px">{{question.question}}</h1></label>
        <input class="form-control form-control-lg" type="text" name="correctAnswer" id="correctAnswer" placeholder="{{user_answer}}"
               autocomplete="off" readonly>
        </br>
        <h1 style="font-size:20px">Correct answer: {{question.answer}}</h1>
        <form method="POST">
            <button type="submit" class="btn btn-success" name="isCorrect" value="{{question.id}}">Correct</button>
        </form>
        <form method="POST">
            <button type="submit" class="btn btn-danger" name="isIncorrect" value="{{question.id}}">Incorrect</button>
        </form>
    {% endif %}
{% endblock %}